H:\!RYAN\dailyexeBig\Develop\GitHub\Python_VOSK_Subtitle_Generation_SRT\model
H:\!RYAN\dailyexeBig\Develop\GitHub\Python_VOSK_Subtitle_Generation_SRT\model_cn
H:\!RYAN\dailyexeBig\Develop\GitHub\Python_VOSK_Subtitle_Generation_SRT\脚本文件备份
H:\!RYAN\dailyexeBig\Develop\GitHub\Python_VOSK_Subtitle_Generation_SRT\__MACOSX
